**
!go.mod
!go.sum
!cmd/
!cmd/**
!harness/
!harness/**
!internal/
!internal/**
!desktop/
!desktop/worker/
!desktop/worker/**
!desktop/third-party-licenses/
!desktop/third-party-licenses/**
!LICENSE
**/__pycache__/
**/*.pyc
**/*.pyo
